.cart {
    width: 100%;
    &__row {
        &-img {
            height: 40px;
        }
        &-productlink {
            color: $textlinkcolor;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                color: $textlinkhovercolor;
                text-decoration: none;
            }
        }
        &-trashicon {
            cursor: pointer;
            &:hover {
                color: $textlinkhovercolor;
            }
        }
    }
}

.cartsummary {
    display: flex;
    float: right;
    flex-direction: column;
    &__container {
        &:nth-child(1) {
            display: flex;
        }
        &:nth-child(2),
        &:nth-child(3) {
            text-align: right;
        }
        &-pricetext {
            margin-right: 1em;
            margin-bottom: 0;
        }
        &-price {
            margin-bottom: 0;
        }
        &-vattext {
            font-size: 0.7em;
            font-style: italic;
        }
    }
}
@include media-breakpoint-down(sm) {
    .cart {
        font-size: 0.8em;
    }
}
