.cart {
    width: 100%;
}

.cart img {
    height: 40px;
}

.cart a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart a:hover {
    text-decoration: underline;
}
.cartsummary {
    display: flex;
    justify-content: right;
}
.cartsummary p:nth-child(1) {
    margin-right: 1em;
}
