.cart {
    width: 100%;
}

.cart img {
    height: 40px;
}

.cart a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart a:hover {
    text-decoration: underline;
}
.cartsummary {
    display: flex;
    // justify-content: right;
    float: right;
    flex-direction: column;
}
.cartsummary p:nth-child(1) {
    margin-right: 1em;
}

.cart i.fa-trash {
    cursor: pointer;
}

.cart i.fa-trash:hover {
    color: red;
}

.cartsummary div:nth-child(1) {
    display: flex;
}

.cartsummary div:nth-child(2) {
    text-align: right;
}
