.featured {
    &__container {
        width: 100%;
        height: auto;
        &row {
            margin: 5px;
            justify-content: center;
            background-color: $featured-row-bg;
            &-link {
                color: $textlinkcolor;
                text-decoration: none;
            }
        }
    }
    &__wrapper {
        height: 340px;
        &-card {
            box-shadow: 1px 1px 3px $main-border;
            cursor: pointer;
            border: 1px solid $main-border;
            &:hover {
                box-shadow: none;
                border: 1px solid $main-border;
                color: $textlinkcolor;
            }
            &-imgbox {
                height: 190px;
                &-img {
                    object-fit: contain;
                    height: 170px;
                    padding: 5px;
                }
            }
            &-title {
                color: $featured-title;
            }
        }
    }
}
