.footer {
    background-color: $footer-bg;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__section {
        &-someicon {
            font-size: 2em;
            margin: 2px;
            cursor: pointer;
            &:hover {
                color: $textlinkhovercolor;
            }
        }
        &-info {
            margin: 0px;
            text-align: center;
            font-size: 0.8em;
            &-link {
                color: black;
                &:hover {
                    color: $textlinkhovercolor;
                }
            }
        }
    }
}
