.header {
    // margin-bottom: 3em;
    // background-color: white !important;
    &__top {
        // background-image: url("../../images/stud.svg");
        // background-size: 20px;

        // padding-bottom: 1em;
        margin: 0;

        &_logo {
            display: inline-flex;
            // background-color: white;
            box-shadow: 1px 1px 17px black;
            padding-bottom: 10px;
        }
    }
    &__bottom_line {
        background-color: #ffcf00;
        height: 20px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

.logo {
    // height: 75px;
    display: block;
    width: 100%;
    min-width: 240px;
    // margin: 0.2em;
}

.navbar-brand {
    max-width: 20%;
}

@include media-breakpoint-up(lg) {
    .navbar {
        min-height: 80px !important;
    }
}

// lightslategray // #778899
// complementaries: #CAD8E5 , #34404D

// orange   #FFA500

//thistle - lilla   #D8BFD8
// dark shade of thistle: #695C69

// lego yellow: #FFCF00

// .product {
//     max-width: 60%;
//     margin: auto;
//     background-color: white;
//     padding: 1em 10em;
//     // box-shadow: 3px 3px 5px black;
//     border-left: 2px solid black;
//     border-right: 2px solid black;
// }

// main {
//     // background-color: white;
//     background-image: url("../../images/stud.svg");
//     background-size: 20px;
// }

.hero {
    // background-image: url("../../images/hero_31120_alt16_cropped.jpg");
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top: 1px solid black;
    position: relative;
    display: flex;
    // border-bottom: 1px solid black;
    align-items: center;
}

.herotext {
    display: absolute;
    background-color: #ffcf00;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    border-left: none;
}
ul.navbar-nav {
    margin: auto;
}

.navbar .login-menu {
    display: none;
}

.navbar .adminitem {
    display: none;
}

.modal-error {
    background-color: red;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    display: none;
}
