.header {
    &__logo {
        max-width: 20%;
        &-img {
            display: block;
            width: 100%;
            min-width: 240px;
        }
    }
    &__bottom_line {
        background-color: #ffcf00;
        height: 20px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@include media-breakpoint-up(lg) {
    .header {
        min-height: 80px !important;
    }
}
