body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../images/stud.svg");
    background-size: 20px;
    background-attachment: fixed;
}

main {
    flex-grow: 1;
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 1em 4em 4em 4em;
    border-left: 2px solid black;
    border-right: 2px solid black;
    &.wide__main {
        width: 100%;
    }
}

header:first-of-type + * {
    //this makes the content align just below the header on every page, no matter what the first element is.
    margin-top: 63px;
}

@include media-breakpoint-up(lg) {
    main {
        padding: 1em 10em 4em 10em;
    }
    header:first-of-type + * {
        margin-top: 80px;
    }
}

@include media-breakpoint-down(sm) {
    main {
        width: 88%;
        padding: 3em 1.2em 4em 1.2em;
    }
}
