body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../images/stud.svg");
    background-size: 20px;
    background-attachment: fixed;
}

main {
    flex-grow: 1;
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 1em 10em;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
