body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../images/stud.svg");
    background-size: 20px;
    background-attachment: fixed;
}

main {
    flex-grow: 1;
    background-color: white;
    width: 80vw;
    margin: auto;
    padding: 1em 10em;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.navbar {
    box-shadow: 1px 0px 10px black;
}

// below makes the content align just below the header on every page, no matter what the first element is.
header:first-of-type + * {
    margin-top: 63px;
}

@include media-breakpoint-up(lg) {
    header:first-of-type + * {
        margin-top: 80px;
    }
}
