.productform button {
    margin-top: 1em;
}

.editimages {
    display: none;
    margin-top: 2em;
}

.editimages label {
    margin-bottom: 1em;
}

.editimages table {
    display: none;
}

.editimages input[type="file"] {
    display: none;
}

.editimages img {
    height: 60px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.tooltip .enlargedthumb {
    height: 20vw;
    padding: 5px;
}

.tooltip-inner {
    min-width: fit-content;
    padding: 0px;
}

// TOOLTIP-LAYOUT from BootStrap below:
// <div class="tooltip bs-tooltip-top" role="tooltip">
//   <div class="tooltip-arrow"></div>
//   <div class="tooltip-inner">
//     Some tooltip text!
//   </div>
// </div>

.producttable {
    display: none;
    table-layout: fixed;
}
.producttable img.thumbnail {
    height: 60px;
    padding: 5px;
}

.producttable td {
    margin: 5px;
    padding: 5px;
}
.producttable tr:nth-child(even) {
    display: none;
    //background-color: var(--bs-table-hover-bg);
    td:nth-child(1) {
        justify-content: center;
    }
}

.producttable .proddescription {
    text-align: center;
}

button.deleteproductbutton {
    display: none;
}

input.textfilter {
    margin-bottom: 5px;
    // margin: 0;
}

// search features

.producttable .sorting-enabled {
    color: green;
}

.producttable thead th div {
    display: flex;
    justify-content: space-between;
}
// .producttable thead th p {
//     display: flex;
// }
