.imagemodal {
    background-color: $imagemodal-bg;
    &__content {
        overflow: hidden;
    }
    &__body {
        align-self: center;
        display: flex;
    }
}

.modalcarousel {
    place-self: center;
    width: min-content;
    &__slide {
        text-align: center;
        padding: 1em;
        height: inherit;
        &-item {
            width: 60vw;
            height: 60vh;
            &-img {
                max-height: 100%;
                max-width: 100%;
                object-fit: contain;
            }
        }
    }
    &__controls {
        &-prev {
            background-image: var(--arrow-previous) !important;
        }
        &-next {
            background-image: var(--arrow-next) !important;
        }
    }
}
