.topcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topcontainer > div:nth-child(2) {
    margin: auto;
}

.carouselcontainer {
    width: 400px;
    display: flex;
    justify-content: center;
}

.carouselcontainer img.d-block.w-100 {
    max-height: 300px;
}

@include media-breakpoint-up(lg) {
    .topcontainer {
        flex-direction: row;
    }
}

// Image Modal....

#imageModal {
    background-color: rgba($color: #000000, $alpha: 0.8);
    .modal-content {
        // padding: 0em;
        // justify-content: center;
    }
    .modal-body {
        align-self: center;
    }
}

// .modal-content - height: 70% ?
// carousel-item : 70vh.
#imageModal #modalimagecarousel,
#imagecarousel.carousel {
    // height: 70vh;
    place-self: center;
    width: min-content;
    // padding: auto;
}

// #imageModal .modal-content {

// }

#imageModal .carousel-inner {
    text-align: center;
    padding: 1em;
    height: inherit;
}

#imageModal .carousel-item {
    height: unset;
    width: unset;
}

#imageModal .carousel-item img {
    height: 60vh;
}
// Hidden modal trigger button
button[data-bs-target="#imageModal"] {
    display: none;
}
