.productform {
    &__inputrequirement {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    &__controls {
        &-deletebutton {
            display: none;
        }
        &-continuebutton {
            margin-top: 1em;
        }
    }
}

.editimages {
    display: none;
    margin-top: 2em;
    &__table {
        display: none;
        &-thumb {
            height: 60px;
            box-shadow: 1px 1px 3px $main-border;
            cursor: pointer;
        }
        &-radiobutton {
            margin-top: 1.5em;
        }
        &-deletebutton {
            margin-top: 0.8em;
        }
    }
    &__form {
        &-addbutton {
            margin-bottom: 1em;
        }
        &-fileinput {
            display: none;
        }
    }
}

.tooltip {
    &-inner {
        min-width: fit-content;
        padding: 0px;
        &-enlargedthumb {
            height: 20vw;
            padding: 5px;
        }
    }
}
