.topcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    &__buysection {
        margin: auto;
        &-modaltogglebutton {
            display: none;
        }
        &-editbutton {
            display: block;
            text-decoration: none;
            margin: 0.5em 0;
            display: none;
            &link {
                text-decoration: none;
            }
        }
        &-price {
            font-size: 2.5em;
            margin-top: 1.5em;
            margin-bottom: 0;
            line-height: 20px;
        }
        &-currency {
            font-size: 0.3em;
        }
        &-vatinfo {
            font-size: 0.6em;
        }
        &-cartbutton {
            margin-bottom: 4em;
        }
    }
    &__imagesection {
        width: 400px;
        display: flex;
        justify-content: center;
        cursor: zoom-in;
    }
}

@include media-breakpoint-up(lg) {
    .topcontainer {
        flex-direction: row;
    }
}

.imagecarousel {
    margin-top: 2em;
    place-self: center;
    width: min-content;
    &__item {
        width: 300px;
        height: 300px;
        &-img {
            max-height: 300px;
        }
    }
    &__control {
        &-prev {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
        &-next {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
    }
}

.bottomcontainer {
    &__tabs {
        border: 1px solid rgb(222, 226, 230);
        border-top: none;
        padding: 2em;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        max-height: 500px;
        overflow-y: auto;
    }
}
