.product {
    background-color: blanchedalmond;
    // border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 260px;
    height: 460px;
    // 460 above is intended to be in admin mode.
    margin-bottom: 1em;
    margin-right: 1em;
    justify-content: space-between;
    // position: relative;
    border: 1px solid black;
}
.productlink {
    text-decoration: none;
    color: black;
}
.productlink:hover {
    color: black;
}

.product__header_photo {
    // height: 200px;
    // width: 250px;
}

.product__details-row {
    display: flex;
    justify-content: space-between;
}

.product__header_title {
    font-weight: bold;
    margin-top: 5px;
}

.product__header {
    display: flex;
    flex-direction: column;
}

// .product:hover {
//     box-shadow: none;
//     border: 1px solid black;
// }

.product:hover {
    box-shadow: none;
    border: 1px solid black;
    .product__header_imagecontainer_buymebanner {
        display: flex;
    }
}

.product__header_imagecontainer_buymebanner {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: absolute;
    display: none;
    // display: flex;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    align-self: center;
    bottom: 0;
}

.product__header_imagecontainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}
