.topcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topcontainer > div:nth-child(2) {
    margin: auto;
}

@include media-breakpoint-up(lg) {
    .topcontainer {
        flex-direction: row;
    }
}

tr > td:nth-child(1) {
    width: 120px;
}

#minifigures-tab-pane .card {
    // width: 150px;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
}

#minifigures-tab-pane .card img {
    width: 150px;
}

// Need to style these cards.....looks bad atm. (7.9)
