.statuscontainer {
    cursor: pointer;
    background-color: $statusmessage-success-bg;
    display: flex;
    place-content: center;
    height: 5em;
    align-items: center;
    position: fixed;
    width: 100%;
    opacity: 90%;
    color: $statusmessage-success-text;
    z-index: 2000;
    top: -5em;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid black;
    &-message {
        font-family: "Orbitron";
        margin: 0;
    }
    &__status {
        &-active {
            animation: showStatusBar 5s 1 ease;
        }
        &-error {
            background-color: $statusmessage-error-bg;
            color: $statusmessage-error-text;
        }
        &-success {
            background-color: $statusmessage-success-bg;
        }
    }
}

@keyframes showStatusBar {
    0% {
        top: -5em;
    }
    20% {
        top: 0;
    }
    80% {
        top: 0;
    }
    100% {
        top: -5em;
    }
}
