.thumbs {
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    &__image {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

.details {
    margin-top: 2em;
    display: flex;
}

.current_image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 2em;
}

.carousel-item {
    width: 300px;
    height: 300px;
}

// .carousel-item.active {
//     width: 300px;
//     height: 300px;
// }

.tab-content {
    border: 1px solid rgb(222, 226, 230);
    border-top: none;
    padding: 2em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    max-height: 500px;
    overflow-y: auto;
}

.carouselExampleIndicators {
    width: min-content;
}

main > div {
    margin-top: 4em;
}
