h1,
h2,
h3 {
    font-family: $font-family-mainheaders;
}

h1 {
    font-weight: bolder;
    margin-bottom: 1em;
}

h1::first-letter {
    font-family: $font-family-lego;
}

p {
    font-family: $font-family-serif;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
}

h3 {
    text-decoration: underline;
}

h2,
h3,
h1:not(:first-of-type) {
    margin-top: 3em;
}
