:root {
    --body-bg: url("../../images/stud.svg");
    --arrow-previous: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    --arrow-next: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

// $warning: rebeccapurple;
// $primary: yellow;

// $primary: #e92569;
// $dark-grey: #767676;
// $middle-grey: #c7c7c7;
// $light-grey: #efefef;

// $accordion-bg: $light-grey;
// $accordion-color: $primary;
// $footer-textcolor: $dark-grey;

// $theme-colors: (
//     "warning": $warning,
// );

// $primary: #e92569;
// $dark-grey: #767676;
// $middle-grey: #c7c7c7;
// $light-grey: #efefef;
// $accordion-bg: $light-grey;
// $accordion-color: $primary;
// $footer-textcolor: $dark-grey;

// $theme-colors: (
//     "light-grey": $light-grey,
//     "middle-grey": $middle-grey,
//     "dark-grey": $dark-grey,
//     "primary": $primary,
// );

// $font-family-sans-serif: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-headers: "Playfair Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
//     "Noto Color Emoji";

// $font-family-sans-serif: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// $font-family-headers: "Playfair Display", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
//     "Noto Color Emoji";
